# Constants

In [1]:
from pathlib import Path
CONDUIT_LOG = Path.cwd() / "conduit.log"

PGCONN = "postgresql://algorand:algorand@localhost:65432/performance_db"
QUERY_CHARS = 1000
LIMIT = 15

# Query columns
QUERY_COL = f"substring(trim(regexp_replace(regexp_replace(query, '--.*?$', '', 'gn'), '\\s+', ' ', 'g')), 1, {QUERY_CHARS}) AS query"
TOTAL_SECS_COL = "round((total_exec_time/1000)::numeric, 3) AS tot_s"
MEAN_SECS_COL = "round((mean_exec_time/1000)::numeric, 3) AS mean_s"
MIN_SECS_COL = "round((min_exec_time/1000)::numeric, 3) AS min_s"
MAX_SECS_COL = "round((max_exec_time/1000)::numeric, 3) AS max_s"
CPU_COL = "round((100 * total_exec_time / sum(total_exec_time::numeric) OVER ())::numeric, 2) AS cpu_pct"

# Queries
QUERY_TOTAL_TIME = f"""SELECT dbid, {QUERY_COL}, {TOTAL_SECS_COL}, calls, {MEAN_SECS_COL}, {CPU_COL}
FROM pg_stat_statements
ORDER BY total_exec_time DESC
LIMIT {LIMIT}"""

QUERY_SLOWEST = f"""SELECT dbid, {QUERY_COL}, calls, {TOTAL_SECS_COL}, {MIN_SECS_COL}, {MAX_SECS_COL}, {MEAN_SECS_COL}
FROM pg_stat_statements
ORDER BY mean_exec_time DESC
LIMIT {LIMIT}"""

QUERY_MEMHOG = f"""SELECT dbid, {QUERY_COL}, (shared_blks_hit+shared_blks_dirtied) as mem
FROM pg_stat_statements
ORDER BY (shared_blks_hit+shared_blks_dirtied) DESC
LIMIT {LIMIT}"""

print(f"{CONDUIT_LOG=}")

CONDUIT_LOG=PosixPath('/Users/zeph/github/algorand/conduit/performance/conduit.log')

# Parse the log

In [2]:
from datetime import datetime
import json
import re

with open(CONDUIT_LOG) as f:
    log_content = f.read()

lines = log_content.strip().split("\n")


# Regular expressions for extracting required data
start_time_pattern = re.compile(r'Block 1 read time')
finish_time_pattern = re.compile(r'round r=(\d+) .* exported in')
time_pattern = re.compile(
    r'(?P<time>\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?[+-]\d{2}:\d{2})'
)

# Initialize variables to store the required information
start_time = None
finish_time = None
log_rounds = None

# Iterate over the log lines
for i, line in enumerate(log_content.strip().split("\n")):
    log_entry = json.loads(line)
    msg = log_entry.get("msg", "")
    
    # Extract start_time
    if start_time_pattern.search(msg):
        match = time_pattern.search(line)
        if match:
            start_time = datetime.fromisoformat(match.group("time"))

    # Extract finish_time and log_rounds
    finish_match = finish_time_pattern.search(msg)
    if finish_match:
        match = time_pattern.search(line)
        if match:
            finish_time = datetime.fromisoformat(match.group("time"))
            log_rounds = int(finish_match.group(1))


# Calculate total_export_time and mean_export_time
total_export_time = finish_time - start_time
mean_export_time = total_export_time.total_seconds() / log_rounds

# Print results
print(f"Start Time: {start_time}")
print(f"Finish Time: {finish_time}")
print(f"Log Rounds: {log_rounds}")
print(f"Total Export Time: {total_export_time}")
print(f"Mean Export Time: {mean_export_time} seconds")

Start Time: 2023-08-22 22:34:49.367461-05:00
Finish Time: 2023-08-22 22:36:17.494197-05:00
Log Rounds: 10
Total Export Time: 0:01:28.126736
Mean Export Time: 8.8126736 seconds

# Query the DB

In [3]:
import pandas as pd

def query(sql: str) -> pd.DataFrame:
    return pd.read_sql(sql, PGCONN)

## Understand the data

### Transaction type breakdown

In [4]:
query("""SELECT round, typeenum, txn->'txn'->>'type' as type, txn->'txn'->'apan' as on_complete, extra->'root-txid' IS NOT NULL as inner, count(*) from txn
       GROUP BY round, typeenum, txn->'txn'->>'type',         txn->'txn'->'apan',                extra->'root-txid' IS NOT NULL
       ORDER by round, typeenum, txn->'txn'->>'type',         txn->'txn'->'apan',                extra->'root-txid' IS NOT NULL;""")

    round  typeenum  type  on_complete  inner  count
0       1         1   pay          NaN  False  25649
1       1         6  appl          NaN  False  24352
2       2         1   pay          NaN  False  17202
3       2         1   pay          NaN   True  16400
4       2         6  appl          1.0  False   8200
5       2         6  appl          NaN  False   8198
6       3         1   pay          NaN  False  17194
7       3         1   pay          NaN   True  16446
8       3         6  appl          1.0  False   8223
9       3         6  appl          NaN  False   8140
10      4         1   pay          NaN  False  17287
11      4         1   pay          NaN   True  16290
12      4         6  appl          1.0  False   8145
13      4         6  appl          NaN  False   8279
14      5         1   pay          NaN  False  17179
15      5         1   pay          NaN   True  16498
16      5         6  appl          1.0  False   8249
17      5         6  appl          NaN  False   8074
18      6         1   pay          NaN  False  17250
19      6         1   pay          NaN   True  16366
20      6         6  appl          1.0  False   8183
21      6         6  appl          NaN  False   8202
22      7         1   pay          NaN  False  17227
23      7         1   pay          NaN   True  16400
24      7         6  appl          1.0  False   8200
25      7         6  appl          NaN  False   8176
26      8         1   pay          NaN  False  17174
27      8         1   pay          NaN   True  16546
28      8         6  appl          1.0  False   8273
29      8         6  appl          NaN  False   8008
30      9         1   pay          NaN  False  17167
31      9         1   pay          NaN   True  16506
32      9         6  appl          1.0  False   8253
33      9         6  appl          NaN  False   8074
34     10         1   pay          NaN  False  17303
35     10         1   pay          NaN   True  16286
36     10         6  appl          1.0  False   8143
37     10         6  appl          NaN  False   8269

### Sequential intras

In [5]:
query("""SELECT round, count(*), min(intra), max(intra), COUNT(DISTINCT intra) as distinct_intras from txn group by round order by round;""")

   round  count  min    max  distinct_intras
0      1  50001    0  50000            50001
1      2  50000    0  49999            50000
2      3  50003    0  50002            50003
3      4  50001    0  50000            50001
4      5  50000    0  49999            50000
5      6  50001    0  50000            50001
6      7  50003    0  50002            50003
7      8  50001    0  50000            50001
8      9  50000    0  49999            50000
9     10  50001    0  50000            50001

## Some Speculative DB Statistics

### Vacumm Stats

In [6]:
query("SELECT * FROM pg_stat_progress_vacuum;")

,pid,datid,datname,relid,phase,heap_blks_total,heap_blks_scanned,heap_blks_vacuumed,index_vacuum_count,max_dead_tuples,num_dead_tuples
0,100,16384,performance_db,16468,scanning heap,33664,4548,0,0,9796224,4100

### `pg_stats_all_tables`

In [7]:
query("""SELECT relname, last_vacuum, last_autovacuum, last_analyze, last_autoanalyze, vacuum_count, autovacuum_count, analyze_count, autoanalyze_count
FROM pg_stat_all_tables
WHERE schemaname = 'public';""")

,relname,last_vacuum,last_autovacuum,last_analyze,last_autoanalyze,vacuum_count,autovacuum_count,analyze_count,autoanalyze_count
0,account_app,None,2023-08-23 03:35:36.763126+00:00,None,2023-08-23 03:35:36.880549+00:00,0,1,0,1
1,account,None,2023-08-23 03:36:32.593373+00:00,None,2023-08-23 03:36:32.813135+00:00,0,2,0,2
2,account_asset,None,NaT,None,NaT,0,0,0,0
3,block_header,None,NaT,None,NaT,0,0,0,0
4,txn,None,2023-08-23 03:36:25.626199+00:00,None,2023-08-23 03:36:27.136471+00:00,0,2,0,2
5,app,None,2023-08-23 03:35:31.594705+00:00,None,2023-08-23 03:35:36.521067+00:00,0,1,0,1
6,metastate,None,NaT,None,NaT,0,0,0,0
7,txn_participation,None,2023-08-23 03:36:29.666803+00:00,None,2023-08-23 03:36:30.267036+00:00,0,2,0,2
8,app_box,None,2023-08-23 03:35:38.776624+00:00,None,2023-08-23 03:35:39.047958+00:00,0,1,0,1
9,asset,None,NaT,None,NaT,0,0,0,0

In [8]:
query("""SELECT relname, seq_scan, seq_tup_read, idx_scan, idx_tup_fetch, n_tup_ins, n_tup_upd, n_tup_del, n_tup_hot_upd, n_live_tup, n_dead_tup
FROM pg_stat_all_tables
WHERE schemaname = 'public';""")

,relname,seq_scan,seq_tup_read,idx_scan,idx_tup_fetch,n_tup_ins,n_tup_upd,n_tup_del,n_tup_hot_upd,n_live_tup,n_dead_tup
0,account_app,2,0,73873,4,73869,4,0,0,73869,4
1,account,1,0,266476,149714,116765,149714,0,59520,116765,0
2,account_asset,2,0,0,0,0,0,0,0,0,0
3,block_header,2,0,11,0,11,0,0,0,11,0
4,txn,3,500011,0,0,500011,0,0,0,499757,0
5,app,2,0,165793,68023,97770,68023,0,20419,97891,41783
6,metastate,1,0,39,33,4,21,0,21,4,21
7,txn_participation,1,0,0,0,976113,0,0,0,976113,0
8,app_box,1,0,73869,0,73869,0,0,0,73869,0
9,asset,2,0,0,0,0,0,0,0,0,0

### `pg_stat_all_indexes`

In [9]:
query("""SELECT relname AS table_name, indexrelname AS index_name, idx_scan AS times_index_scanned, 
idx_tup_read AS tuples_read_by_index_scans, idx_tup_fetch AS tuples_fetched_by_index_scans
FROM pg_stat_all_indexes
WHERE schemaname = 'public'
ORDER BY idx_scan DESC;""")

,table_name,index_name,times_index_scanned,tuples_read_by_index_scans,tuples_fetched_by_index_scans
0,account,account_pkey,266476,215186,149714
1,app,app_pkey,165793,80330,68023
2,account_app,account_app_pkey,73873,5,4
3,app_box,app_box_pkey,73869,0,0
4,metastate,metastate_pkey,39,33,33
5,block_header,block_header_pkey,11,0,0
6,account_asset,account_asset_pkey,0,0,0
7,account_asset,account_asset_by_addr_partial,0,0,0
8,asset,asset_pkey,0,0,0
9,asset,asset_by_creator_addr_deleted,0,0,0
10,txn_participation,txn_participation_i,0,0,0
11,txn,txn_by_tixid,0,0,0
12,app,app_by_creator_deleted,0,0,0
13,txn,txn_pkey,0,0,0
14,account_app,account_app_by_addr_partial,0,0,0
15,block_header,block_header_time,0,0,0

### Size of Indexes

In [10]:
query("""SELECT indexname AS index_name, tablename AS table_name, pg_total_relation_size(schemaname || '.' || indexname) AS index_size_bytes
FROM pg_indexes
WHERE schemaname = 'public'
ORDER BY index_size_bytes DESC;""")

                       index_name         table_name  index_size_bytes
0             txn_participation_i  txn_participation          98492416
1                    txn_by_tixid                txn          37371904
2                        txn_pkey                txn          17448960
3                    account_pkey            account          10305536
4                account_app_pkey        account_app           6725632
5                    app_box_pkey            app_box           6430720
6                        app_pkey                app           4005888
7          app_by_creator_deleted                app           2039808
8     account_app_by_addr_partial        account_app           1441792
9               block_header_pkey       block_header             16384
10              block_header_time       block_header             16384
11                 metastate_pkey          metastate             16384
12  asset_by_creator_addr_deleted              asset              8192
13                     asset_pkey              asset              8192
14  account_asset_by_addr_partial      account_asset              8192
15             account_asset_pkey      account_asset              8192

### Locks

In [11]:
query("SELECT * FROM pg_locks WHERE mode = 'AccessExclusiveLock' AND granted = false;")

Empty DataFrame
Columns: [locktype, database, relation, page, tuple, virtualxid, transactionid, classid, objid, objsubid, virtualtransaction, pid, mode, granted, fastpath, waitstart]
Index: []

In [12]:

def get_stats() -> dict[str, pd.DataFrame]:
    return {
        "total_time":  query(QUERY_TOTAL_TIME),
        "slowest": query(QUERY_SLOWEST),
        "memhog": query(QUERY_MEMHOG)
    }

dfs = get_stats()

## Memory Hogs

In [13]:
dfs["memhog"]

     dbid                                              query      mem
0   16384  copy "txn" ( "round", "intra", "typeenum", "as...  3092660
1   16384  copy "txn_participation" ( "addr", "round", "i...  2984946
2   16384  INSERT INTO app (index, creator, params, delet...  1668324
3   16384  INSERT INTO account (addr, microalgos, rewards...  1504678
4   16384  INSERT INTO account (addr, microalgos, rewards...   886848
5   16384  INSERT INTO account_app (addr, app, localstate...   726256
6   16384  INSERT INTO app_box AS ab (app, name, value) V...   550177
7   16384                CREATE EXTENSION pg_stat_statements     2840
8       5                     create database performance_db      992
9   16384  SELECT round, count(*), min(intra), max(intra)...      923
10  16384  CREATE TABLE IF NOT EXISTS block_header ( roun...      540
11  16384  CREATE TABLE IF NOT EXISTS txn ( round bigint ...      409
12  16384  CREATE TABLE IF NOT EXISTS account_asset ( add...      392
13  16384  CREATE TABLE IF NOT EXISTS metastate ( k text ...      391
14  16384  SELECT indexname AS index_name, tablename AS t...      390

## Slowest

In [14]:
dfs["slowest"]

,dbid,query,calls,tot_s,min_s,max_s,mean_s
0,16384,"copy ""txn_participation"" ( ""addr"", ""round"", ""i...",10,35.600,2.642,8.598,3.560
1,16384,"copy ""txn"" ( ""round"", ""intra"", ""typeenum"", ""as...",251,541.728,0.020,6.789,2.158
2,16384,"SELECT round, typeenum, txn->$1->>$2 as type, ...",1,1.521,1.521,1.521,1.521
3,16384,"SELECT round, count(*), min(intra), max(intra)...",1,0.253,0.253,0.253,0.253
4,5,create database performance_db,1,0.033,0.033,0.033,0.033
5,16384,"INSERT INTO block_header (round, realtime, rew...",11,0.140,0.000,0.074,0.013
6,16384,CREATE EXTENSION pg_stat_statements,1,0.008,0.008,0.008,0.008
7,16384,CREATE TABLE IF NOT EXISTS txn ( round bigint ...,1,0.006,0.006,0.006,0.006
8,16384,CREATE TABLE IF NOT EXISTS account_asset ( add...,1,0.004,0.004,0.004,0.004
9,16384,CREATE TABLE IF NOT EXISTS account_app ( addr ...,1,0.004,0.004,0.004,0.004
10,16384,CREATE TABLE IF NOT EXISTS block_header ( roun...,1,0.004,0.004,0.004,0.004
11,16384,CREATE TABLE IF NOT EXISTS account ( addr byte...,1,0.003,0.003,0.003,0.003
12,16384,CREATE TABLE IF NOT EXISTS app ( index bigint ...,1,0.003,0.003,0.003,0.003
13,16384,CREATE TABLE IF NOT EXISTS metastate ( k text ...,1,0.003,0.003,0.003,0.003
14,16384,CREATE INDEX IF NOT EXISTS txn_by_tixid ON txn...,1,0.003,0.003,0.003,0.003

# !! Most Overall Time

In [15]:
ttime = dfs["total_time"]
ttime

,dbid,query,tot_s,calls,mean_s,cpu_pct
0,16384,"copy ""txn"" ( ""round"", ""intra"", ""typeenum"", ""as...",541.728,251,2.158,87.53
1,16384,"copy ""txn_participation"" ( ""addr"", ""round"", ""i...",35.600,10,3.560,5.75
2,16384,"INSERT INTO app (index, creator, params, delet...",19.706,165793,0.000,3.18
3,16384,"INSERT INTO account (addr, microalgos, rewards...",8.208,83229,0.000,1.33
4,16384,"INSERT INTO account (addr, microalgos, rewards...",7.257,183247,0.000,1.17
5,16384,"INSERT INTO account_app (addr, app, localstate...",2.569,73873,0.000,0.42
6,16384,"INSERT INTO app_box AS ab (app, name, value) V...",1.798,73869,0.000,0.29
7,16384,"SELECT round, typeenum, txn->$1->>$2 as type, ...",1.521,1,1.521,0.25
8,16384,"SELECT round, count(*), min(intra), max(intra)...",0.253,1,0.253,0.04
9,16384,"INSERT INTO block_header (round, realtime, rew...",0.140,11,0.013,0.02
10,5,create database performance_db,0.033,1,0.033,0.01
11,16384,begin isolation level read uncommitted,0.012,261,0.000,0.00
12,16384,CREATE EXTENSION pg_stat_statements,0.008,1,0.008,0.00
13,16384,CREATE TABLE IF NOT EXISTS txn ( round bigint ...,0.006,1,0.006,0.00
14,16384,CREATE TABLE IF NOT EXISTS account_asset ( add...,0.004,1,0.004,0.00

## `txn` validation and stats correction for concurrency

In [16]:
df_txn_stats = query("""SELECT max(round) as max_round, count(*) as txn_count
FROM txn""")
                     
rounds = df_txn_stats["max_round"][0]
txn_count = df_txn_stats["txn_count"][0]
                     
df_txn_stats

   max_round  txn_count
0         10     500011

In [17]:
df_round_txn = query("""SELECT round, COUNT(*) as txns FROM txn GROUP BY round""")
df_round_txn

   round   txns
0      1  50001
1      2  50000
2      3  50003
3      4  50001
4      5  50000
5      6  50001
6      7  50003
7      8  50001
8      9  50000
9     10  50001

In [18]:
ttime

,dbid,query,tot_s,calls,mean_s,cpu_pct
0,16384,"copy ""txn"" ( ""round"", ""intra"", ""typeenum"", ""as...",541.728,251,2.158,87.53
1,16384,"copy ""txn_participation"" ( ""addr"", ""round"", ""i...",35.600,10,3.560,5.75
2,16384,"INSERT INTO app (index, creator, params, delet...",19.706,165793,0.000,3.18
3,16384,"INSERT INTO account (addr, microalgos, rewards...",8.208,83229,0.000,1.33
4,16384,"INSERT INTO account (addr, microalgos, rewards...",7.257,183247,0.000,1.17
5,16384,"INSERT INTO account_app (addr, app, localstate...",2.569,73873,0.000,0.42
6,16384,"INSERT INTO app_box AS ab (app, name, value) V...",1.798,73869,0.000,0.29
7,16384,"SELECT round, typeenum, txn->$1->>$2 as type, ...",1.521,1,1.521,0.25
8,16384,"SELECT round, count(*), min(intra), max(intra)...",0.253,1,0.253,0.04
9,16384,"INSERT INTO block_header (round, realtime, rew...",0.140,11,0.013,0.02
10,5,create database performance_db,0.033,1,0.033,0.01
11,16384,begin isolation level read uncommitted,0.012,261,0.000,0.00
12,16384,CREATE EXTENSION pg_stat_statements,0.008,1,0.008,0.00
13,16384,CREATE TABLE IF NOT EXISTS txn ( round bigint ...,0.006,1,0.006,0.00
14,16384,CREATE TABLE IF NOT EXISTS account_asset ( add...,0.004,1,0.004,0.00

## Masssage `ttime` with rounds / total time / concurrency mindedness

In [19]:
ttime.insert(0, 'runtime', total_export_time.total_seconds())
ttime.insert(1, 'txns', txn_count)

ttime['extrap_s'] = ttime['tot_s']
mask = ttime['query'].str.contains('copy "txn" \( "round"')
ttime.loc[mask, 'extrap_s'] = ttime.loc[mask, 'mean_s'] * log_rounds

ttime['load_pct'] = ttime['extrap_s'] / ttime['runtime'] * 100

ttime = ttime[['extrap_s', 'cpu_pct', 'load_pct', 'tot_s', 'calls', 'mean_s', 'query', 'dbid', 'runtime', 'txns']]
ttime = ttime.rename(columns={
    'extrap_s': 'extrap_s*',
    'load_pct': 'load_pct**'
})

In [20]:
ttime

,extrap_s*,cpu_pct,load_pct**,tot_s,calls,mean_s,query,dbid,runtime,txns
0,21.580,87.53,24.487461,541.728,251,2.158,"copy ""txn"" ( ""round"", ""intra"", ""typeenum"", ""as...",16384,88.126736,500011
1,35.600,5.75,40.396367,35.600,10,3.560,"copy ""txn_participation"" ( ""addr"", ""round"", ""i...",16384,88.126736,500011
2,19.706,3.18,22.360978,19.706,165793,0.000,"INSERT INTO app (index, creator, params, delet...",16384,88.126736,500011
3,8.208,1.33,9.313859,8.208,83229,0.000,"INSERT INTO account (addr, microalgos, rewards...",16384,88.126736,500011
4,7.257,1.17,8.234731,7.257,183247,0.000,"INSERT INTO account (addr, microalgos, rewards...",16384,88.126736,500011
5,2.569,0.42,2.915120,2.569,73873,0.000,"INSERT INTO account_app (addr, app, localstate...",16384,88.126736,500011
6,1.798,0.29,2.040243,1.798,73869,0.000,"INSERT INTO app_box AS ab (app, name, value) V...",16384,88.126736,500011
7,1.521,0.25,1.725923,1.521,1,1.521,"SELECT round, typeenum, txn->$1->>$2 as type, ...",16384,88.126736,500011
8,0.253,0.04,0.287087,0.253,1,0.253,"SELECT round, count(*), min(intra), max(intra)...",16384,88.126736,500011
9,0.140,0.02,0.158862,0.140,11,0.013,"INSERT INTO block_header (round, realtime, rew...",16384,88.126736,500011
10,0.033,0.01,0.037446,0.033,1,0.033,create database performance_db,5,88.126736,500011
11,0.012,0.00,0.013617,0.012,261,0.000,begin isolation level read uncommitted,16384,88.126736,500011
12,0.008,0.00,0.009078,0.008,1,0.008,CREATE EXTENSION pg_stat_statements,16384,88.126736,500011
13,0.006,0.00,0.006808,0.006,1,0.006,CREATE TABLE IF NOT EXISTS txn ( round bigint ...,16384,88.126736,500011
14,0.004,0.00,0.004539,0.004,1,0.004,CREATE TABLE IF NOT EXISTS account_asset ( add...,16384,88.126736,500011

# `to_clipboard()`

In [21]:
ttime.to_clipboard()