# Constants

In [1]:
from pathlib import Path
CONDUIT_LOG = Path.cwd() / "conduit.log"

PGCONN = "postgresql://algorand:algorand@localhost:65432/performance_db"
QUERY_CHARS = 1000
LIMIT = 15

# Query columns
QUERY_COL = f"substring(trim(regexp_replace(regexp_replace(query, '--.*?$', '', 'gn'), '\\s+', ' ', 'g')), 1, {QUERY_CHARS}) AS query"
TOTAL_SECS_COL = "round((total_exec_time/1000)::numeric, 3) AS tot_s"
MEAN_SECS_COL = "round((mean_exec_time/1000)::numeric, 3) AS mean_s"
MIN_SECS_COL = "round((min_exec_time/1000)::numeric, 3) AS min_s"
MAX_SECS_COL = "round((max_exec_time/1000)::numeric, 3) AS max_s"
CPU_COL = "round((100 * total_exec_time / sum(total_exec_time::numeric) OVER ())::numeric, 2) AS cpu_pct"

# Queries
QUERY_TOTAL_TIME = f"""SELECT dbid, {QUERY_COL}, {TOTAL_SECS_COL}, calls, {MEAN_SECS_COL}, {CPU_COL}
FROM pg_stat_statements
ORDER BY total_exec_time DESC
LIMIT {LIMIT}"""

QUERY_SLOWEST = f"""SELECT dbid, {QUERY_COL}, calls, {TOTAL_SECS_COL}, {MIN_SECS_COL}, {MAX_SECS_COL}, {MEAN_SECS_COL}
FROM pg_stat_statements
ORDER BY mean_exec_time DESC
LIMIT {LIMIT}"""

QUERY_MEMHOG = f"""SELECT dbid, {QUERY_COL}, (shared_blks_hit+shared_blks_dirtied) as mem
FROM pg_stat_statements
ORDER BY (shared_blks_hit+shared_blks_dirtied) DESC
LIMIT {LIMIT}"""

print(f"{CONDUIT_LOG=}")

CONDUIT_LOG=PosixPath('/Users/zeph/github/algorand/conduit/performance/conduit.log')

# Parse the log

In [2]:
from datetime import datetime
import json
import re

with open(CONDUIT_LOG) as f:
    log_content = f.read()

lines = log_content.strip().split("\n")


# Regular expressions for extracting required data
start_time_pattern = re.compile(r'Block 1 read time')
finish_time_pattern = re.compile(r'round r=(\d+) .* exported in')
time_pattern = re.compile(
    r'(?P<time>\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d+)?[+-]\d{2}:\d{2})'
)

# Initialize variables to store the required information
start_time = None
finish_time = None
log_rounds = None

# Iterate over the log lines
for i, line in enumerate(log_content.strip().split("\n")):
    log_entry = json.loads(line)
    msg = log_entry.get("msg", "")
    
    # Extract start_time
    if start_time_pattern.search(msg):
        match = time_pattern.search(line)
        if match:
            start_time = datetime.fromisoformat(match.group("time"))

    # Extract finish_time and log_rounds
    finish_match = finish_time_pattern.search(msg)
    if finish_match:
        match = time_pattern.search(line)
        if match:
            finish_time = datetime.fromisoformat(match.group("time"))
            log_rounds = int(finish_match.group(1))


# Calculate total_export_time and mean_export_time
total_export_time = finish_time - start_time
mean_export_time = total_export_time.total_seconds() / log_rounds

# Print results
print(f"Start Time: {start_time}")
print(f"Finish Time: {finish_time}")
print(f"Log Rounds: {log_rounds}")
print(f"Total Export Time: {total_export_time}")
print(f"Mean Export Time: {mean_export_time} seconds")

Start Time: 2023-08-21 22:34:26.480924-05:00
Finish Time: 2023-08-21 22:36:32.572478-05:00
Log Rounds: 10
Total Export Time: 0:02:06.091554
Mean Export Time: 12.6091554 seconds

# Query the DB

In [3]:
import pandas as pd

def query(sql: str) -> pd.DataFrame:
    return pd.read_sql(sql, PGCONN)

## Some Speculative DB Statistics

### Vacumm Stats

In [4]:
query("SELECT * FROM pg_stat_progress_vacuum;")

Empty DataFrame
Columns: [pid, datid, datname, relid, phase, heap_blks_total, heap_blks_scanned, heap_blks_vacuumed, index_vacuum_count, max_dead_tuples, num_dead_tuples]
Index: []

### `pg_stats_all_tables`

In [5]:
query("""SELECT relname, last_vacuum, last_autovacuum, last_analyze, last_autoanalyze, vacuum_count, autovacuum_count, analyze_count, autoanalyze_count
FROM pg_stat_all_tables
WHERE schemaname = 'public';""")

,relname,last_vacuum,last_autovacuum,last_analyze,last_autoanalyze,vacuum_count,autovacuum_count,analyze_count,autoanalyze_count
0,account_app,None,2023-08-22 03:36:58.944455+00:00,2023-08-22 19:17:29.506297+00:00,2023-08-22 03:36:59.079852+00:00,0,2,1,2
1,account,None,2023-08-22 03:36:45.179457+00:00,2023-08-22 19:17:24.778219+00:00,2023-08-22 03:36:45.452311+00:00,0,3,1,3
2,block_header,None,NaT,2023-08-22 19:17:08.525637+00:00,NaT,0,0,1,0
3,txn,None,2023-08-22 03:36:38.808743+00:00,2023-08-22 19:17:20.937819+00:00,2023-08-22 03:36:40.273758+00:00,0,2,1,2
4,metastate,None,NaT,2023-08-22 19:17:24.806303+00:00,NaT,0,0,1,0
5,txn_participation,None,2023-08-22 03:36:41.676076+00:00,2023-08-22 19:17:23.997473+00:00,2023-08-22 03:36:42.862560+00:00,0,2,1,2
6,app_box,None,2023-08-22 03:36:23.489665+00:00,2023-08-22 19:17:30.837820+00:00,2023-08-22 03:37:27.677143+00:00,0,1,1,2
7,account_asset,None,NaT,2023-08-22 19:17:24.791522+00:00,NaT,0,0,1,0
8,app,None,2023-08-22 03:36:57.838455+00:00,2023-08-22 19:17:29.016729+00:00,2023-08-22 03:36:58.866132+00:00,0,2,1,2
9,asset,None,NaT,2023-08-22 19:17:24.796304+00:00,NaT,0,0,1,0

In [6]:
query("""SELECT relname, seq_scan, seq_tup_read, idx_scan, idx_tup_fetch, n_tup_ins, n_tup_upd, n_tup_del, n_tup_hot_upd, n_live_tup, n_dead_tup
FROM pg_stat_all_tables
WHERE schemaname = 'public';""")

,relname,seq_scan,seq_tup_read,idx_scan,idx_tup_fetch,n_tup_ins,n_tup_upd,n_tup_del,n_tup_hot_upd,n_live_tup,n_dead_tup
0,account_app,7,221607,73873,4,73869,4,0,0,73869,0
1,account,4,233530,266476,159712,116765,159712,0,74599,116765,0
2,block_header,5,33,11,0,11,0,0,0,11,0
3,txn,19,3500077,0,0,500011,0,0,0,499909,0
4,metastate,3,29,39,33,4,21,0,21,4,0
5,txn_participation,4,1952226,0,0,976113,0,0,0,976113,0
6,app_box,4,147738,73869,0,73869,0,0,0,73869,0
7,account_asset,5,0,0,0,0,0,0,0,0,0
8,app,7,293310,165793,68023,97770,68023,0,21361,97770,0
9,asset,5,0,0,0,0,0,0,0,0,0

### `pg_stat_all_indexes`

In [7]:
query("""SELECT relname AS table_name, indexrelname AS index_name, idx_scan AS times_index_scanned, 
idx_tup_read AS tuples_read_by_index_scans, idx_tup_fetch AS tuples_fetched_by_index_scans
FROM pg_stat_all_indexes
WHERE schemaname = 'public'
ORDER BY idx_scan DESC;""")

,table_name,index_name,times_index_scanned,tuples_read_by_index_scans,tuples_fetched_by_index_scans
0,account,account_pkey,266476,229487,159712
1,app,app_pkey,165793,80830,68023
2,account_app,account_app_pkey,73873,5,4
3,app_box,app_box_pkey,73869,0,0
4,metastate,metastate_pkey,39,33,33
5,block_header,block_header_pkey,11,0,0
6,account_asset,account_asset_pkey,0,0,0
7,account_asset,account_asset_by_addr_partial,0,0,0
8,asset,asset_pkey,0,0,0
9,asset,asset_by_creator_addr_deleted,0,0,0
10,txn_participation,txn_participation_i,0,0,0
11,txn,txn_by_tixid,0,0,0
12,app,app_by_creator_deleted,0,0,0
13,txn,txn_pkey,0,0,0
14,account_app,account_app_by_addr_partial,0,0,0
15,block_header,block_header_time,0,0,0

### Size of Indexes

In [8]:
query("""SELECT indexname AS index_name, tablename AS table_name, pg_total_relation_size(schemaname || '.' || indexname) AS index_size_bytes
FROM pg_indexes
WHERE schemaname = 'public'
ORDER BY index_size_bytes DESC;""")

                       index_name         table_name  index_size_bytes
0             txn_participation_i  txn_participation          75620352
1                    txn_by_tixid                txn          28336128
2                        txn_pkey                txn          15794176
3                    account_pkey            account           6922240
4                account_app_pkey        account_app           5038080
5                    app_box_pkey            app_box           5013504
6                        app_pkey                app           2211840
7          app_by_creator_deleted                app           1310720
8     account_app_by_addr_partial        account_app           1146880
9               block_header_pkey       block_header             16384
10              block_header_time       block_header             16384
11                 metastate_pkey          metastate             16384
12  asset_by_creator_addr_deleted              asset              8192
13                     asset_pkey              asset              8192
14  account_asset_by_addr_partial      account_asset              8192
15             account_asset_pkey      account_asset              8192

### Locks

In [9]:
query("SELECT * FROM pg_locks WHERE mode = 'AccessExclusiveLock' AND granted = false;")

Empty DataFrame
Columns: [locktype, database, relation, page, tuple, virtualxid, transactionid, classid, objid, objsubid, virtualtransaction, pid, mode, granted, fastpath, waitstart]
Index: []

In [10]:

def get_stats() -> dict[str, pd.DataFrame]:
    return {
        "total_time":  query(QUERY_TOTAL_TIME),
        "slowest": query(QUERY_SLOWEST),
        "memhog": query(QUERY_MEMHOG)
    }

dfs = get_stats()

## Memory Hogs

In [11]:
dfs["memhog"]

     dbid                                              query      mem
0   16384  copy "txn" ( "round", "intra", "typeenum", "as...  3112046
1   16384  copy "txn_participation" ( "addr", "round", "i...  2983902
2   16384  INSERT INTO app (index, creator, params, delet...  1670269
3   16384  INSERT INTO account (addr, microalgos, rewards...  1495462
4   16384  INSERT INTO account (addr, microalgos, rewards...   871450
5   16384  INSERT INTO account_app (addr, app, localstate...   726267
6   16384  INSERT INTO app_box AS ab (app, name, value) V...   550338
7       5                                VACUUM FULL ANALYZE    83854
8   16384                                VACUUM FULL ANALYZE    64441
9   16384  INSERT INTO account (addr, microalgos, rewards...    30614
10      5                                     VACUUM ANALYZE     7519
11  16384                CREATE EXTENSION pg_stat_statements     2840
12  16384  SELECT indexname AS index_name, tablename AS t...     1564
13      5                     create database performance_db      992
14  16384  SELECT round, COUNT(*) as txns FROM txn GROUP ...      672

## Slowest

In [12]:
dfs["slowest"]

,dbid,query,calls,tot_s,min_s,max_s,mean_s
0,16384,VACUUM FULL ANALYZE,1,22.921,22.921,22.921,22.921
1,16384,"copy ""txn_participation"" ( ""addr"", ""round"", ""i...",10,49.369,3.589,8.150,4.937
2,16384,"copy ""txn"" ( ""round"", ""intra"", ""typeenum"", ""as...",429,812.744,0.041,3.800,1.895
3,5,VACUUM FULL ANALYZE,2,2.447,0.495,1.952,1.224
4,5,VACUUM ANALYZE,1,0.153,0.153,0.153,0.153
5,16384,"SELECT round, COUNT(*) as txns FROM txn GROUP ...",2,0.214,0.083,0.132,0.107
6,16384,"SELECT max(round) as max_round, count(*) as tx...",2,0.153,0.072,0.081,0.076
7,5,create database performance_db,1,0.031,0.031,0.031,0.031
8,16384,CREATE EXTENSION pg_stat_statements,1,0.010,0.010,0.010,0.010
9,16384,CREATE TABLE IF NOT EXISTS asset ( index bigin...,1,0.008,0.008,0.008,0.008
10,16384,CREATE TABLE IF NOT EXISTS block_header ( roun...,1,0.007,0.007,0.007,0.007
11,16384,CREATE TABLE IF NOT EXISTS account ( addr byte...,1,0.005,0.005,0.005,0.005
12,16384,CREATE TABLE IF NOT EXISTS txn_participation (...,1,0.005,0.005,0.005,0.005
13,16384,CREATE TABLE IF NOT EXISTS metastate ( k text ...,1,0.005,0.005,0.005,0.005
14,16384,CREATE TABLE IF NOT EXISTS account_asset ( add...,1,0.005,0.005,0.005,0.005

# !! Most Overall Time

In [13]:
ttime = dfs["total_time"]
ttime

,dbid,query,tot_s,calls,mean_s,cpu_pct
0,16384,"copy ""txn"" ( ""round"", ""intra"", ""typeenum"", ""as...",812.744,429,1.895,86.09
1,16384,"copy ""txn_participation"" ( ""addr"", ""round"", ""i...",49.369,10,4.937,5.23
2,16384,"INSERT INTO app (index, creator, params, delet...",28.032,165793,0.000,2.97
3,16384,VACUUM FULL ANALYZE,22.921,1,22.921,2.43
4,16384,"INSERT INTO account (addr, microalgos, rewards...",10.705,183247,0.000,1.13
5,16384,"INSERT INTO account (addr, microalgos, rewards...",10.227,83229,0.000,1.08
6,16384,"INSERT INTO account_app (addr, app, localstate...",3.730,73873,0.000,0.40
7,16384,"INSERT INTO app_box AS ab (app, name, value) V...",2.754,73869,0.000,0.29
8,5,VACUUM FULL ANALYZE,2.447,2,1.224,0.26
9,16384,"INSERT INTO account (addr, microalgos, rewards...",0.332,10001,0.000,0.04
10,16384,"SELECT round, COUNT(*) as txns FROM txn GROUP ...",0.214,2,0.107,0.02
11,5,VACUUM ANALYZE,0.153,1,0.153,0.02
12,16384,"SELECT max(round) as max_round, count(*) as tx...",0.153,2,0.076,0.02
13,16384,begin isolation level read uncommitted,0.061,439,0.000,0.01
14,5,create database performance_db,0.031,1,0.031,0.00

## `txn` validation and stats correction for concurrency

In [14]:
df_txn_stats = query("""SELECT max(round) as max_round, count(*) as txn_count
FROM txn""")
                     
rounds = df_txn_stats["max_round"][0]
txn_count = df_txn_stats["txn_count"][0]
                     
df_txn_stats

   max_round  txn_count
0         10     500011

In [15]:
df_round_txn = query("""SELECT round, COUNT(*) as txns FROM txn GROUP BY round""")
df_round_txn

   round   txns
0      1  50001
1      2  50000
2      3  50003
3      4  50001
4      5  50000
5      6  50001
6      7  50003
7      8  50001
8      9  50000
9     10  50001

In [16]:
ttime

,dbid,query,tot_s,calls,mean_s,cpu_pct
0,16384,"copy ""txn"" ( ""round"", ""intra"", ""typeenum"", ""as...",812.744,429,1.895,86.09
1,16384,"copy ""txn_participation"" ( ""addr"", ""round"", ""i...",49.369,10,4.937,5.23
2,16384,"INSERT INTO app (index, creator, params, delet...",28.032,165793,0.000,2.97
3,16384,VACUUM FULL ANALYZE,22.921,1,22.921,2.43
4,16384,"INSERT INTO account (addr, microalgos, rewards...",10.705,183247,0.000,1.13
5,16384,"INSERT INTO account (addr, microalgos, rewards...",10.227,83229,0.000,1.08
6,16384,"INSERT INTO account_app (addr, app, localstate...",3.730,73873,0.000,0.40
7,16384,"INSERT INTO app_box AS ab (app, name, value) V...",2.754,73869,0.000,0.29
8,5,VACUUM FULL ANALYZE,2.447,2,1.224,0.26
9,16384,"INSERT INTO account (addr, microalgos, rewards...",0.332,10001,0.000,0.04
10,16384,"SELECT round, COUNT(*) as txns FROM txn GROUP ...",0.214,2,0.107,0.02
11,5,VACUUM ANALYZE,0.153,1,0.153,0.02
12,16384,"SELECT max(round) as max_round, count(*) as tx...",0.153,2,0.076,0.02
13,16384,begin isolation level read uncommitted,0.061,439,0.000,0.01
14,5,create database performance_db,0.031,1,0.031,0.00

## Masssage `ttime` with rounds / total time / concurrency mindedness

In [17]:
ttime.insert(0, 'runtime', total_export_time.total_seconds())
ttime.insert(1, 'txns', txn_count)

ttime['extrap_s'] = ttime['tot_s']
mask = ttime['query'].str.contains('copy "txn" \( "round"')
ttime.loc[mask, 'extrap_s'] = ttime.loc[mask, 'mean_s'] * log_rounds

ttime['load_pct'] = ttime['extrap_s'] / ttime['runtime'] * 100

ttime = ttime[['extrap_s', 'cpu_pct', 'load_pct', 'tot_s', 'calls', 'mean_s', 'query', 'dbid', 'runtime', 'txns']]
ttime = ttime.rename(columns={
    'extrap_s': 'extrap_s*',
    'load_pct': 'load_pct**'
})

In [18]:
ttime

,extrap_s*,cpu_pct,load_pct**,tot_s,calls,mean_s,query,dbid,runtime,txns
0,18.950,86.09,15.028762,812.744,429,1.895,"copy ""txn"" ( ""round"", ""intra"", ""typeenum"", ""as...",16384,126.091554,500011
1,49.369,5.23,39.153297,49.369,10,4.937,"copy ""txn_participation"" ( ""addr"", ""round"", ""i...",16384,126.091554,500011
2,28.032,2.97,22.231465,28.032,165793,0.000,"INSERT INTO app (index, creator, params, delet...",16384,126.091554,500011
3,22.921,2.43,18.178061,22.921,1,22.921,VACUUM FULL ANALYZE,16384,126.091554,500011
4,10.705,1.13,8.489863,10.705,183247,0.000,"INSERT INTO account (addr, microalgos, rewards...",16384,126.091554,500011
5,10.227,1.08,8.110773,10.227,83229,0.000,"INSERT INTO account (addr, microalgos, rewards...",16384,126.091554,500011
6,3.730,0.40,2.958168,3.730,73873,0.000,"INSERT INTO account_app (addr, app, localstate...",16384,126.091554,500011
7,2.754,0.29,2.184127,2.754,73869,0.000,"INSERT INTO app_box AS ab (app, name, value) V...",16384,126.091554,500011
8,2.447,0.26,1.940653,2.447,2,1.224,VACUUM FULL ANALYZE,5,126.091554,500011
9,0.332,0.04,0.263301,0.332,10001,0.000,"INSERT INTO account (addr, microalgos, rewards...",16384,126.091554,500011
10,0.214,0.02,0.169718,0.214,2,0.107,"SELECT round, COUNT(*) as txns FROM txn GROUP ...",16384,126.091554,500011
11,0.153,0.02,0.121340,0.153,1,0.153,VACUUM ANALYZE,5,126.091554,500011
12,0.153,0.02,0.121340,0.153,2,0.076,"SELECT max(round) as max_round, count(*) as tx...",16384,126.091554,500011
13,0.061,0.01,0.048378,0.061,439,0.000,begin isolation level read uncommitted,16384,126.091554,500011
14,0.031,0.00,0.024585,0.031,1,0.031,create database performance_db,5,126.091554,500011

# `to_clipboard()`

In [19]:
ttime.to_clipboard()